* {
  font-family: Product Sans;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("bgDark.avif");
  }

  form input {
    background: #30488a;
    border: 1px solid #30488a;
    color: #fff;
  }

  form input:focus,
  form input:hover {
    background: #2f4064;
    border: 1px solid #2f4064;
  }

  .left-margin,
  #uv-register-sw {
    color: #fff;
  }

  a,
  .bottomText {
    color: #4872c0;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url("bgLight.avif");
  }

  form input {
    background: #b1c7ee;
    border: 1px solid #b1c7ee;
    color: #000;
  }

  form input:focus,
  form input:hover {
    background: #cbdcf5;
    border: 1px solid #cbdcf5;
  }

  .left-margin,
  #uv-register-sw {
    color: #000;
  }

  a,
  .bottomText {
    color: #6e84a7;
  }
}

@keyframes dropIn {
  from {
    filter: blur(5px);
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blurOut {
  from {
    filter: blur(5px);
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.dropIn,
.blurOut {
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

.dropIn {
  animation-name: dropIn;
}

.blurOut {
  opacity: 0;
  animation-name: blurOut;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.flex-center,
.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-center {
  margin-top: 10%;
}

.center-margin {
  display: grid;
  place-items: center;
}

.left-margin {
  margin: 0 16px;
}

#uv-frame {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
}

#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}

#uv-register-sw {
  color: #fff;
  background: #555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#uv-register-sw:active {
  background: #333;
}

#uv-register-sw.show {
  display: block;
}

.banner {
  width: 720px;
  height: 280px;
}

form input {
  padding: 0 17px;
  height: 48px;
  width: 800px;
  margin-top: 15px;
  border-radius: 50px;
  outline: none;
  box-shadow: 0 0 15px 0 rgba(5, 5, 5, 0);
  transition:
    background 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

form input:focus {
  box-shadow: 0 0 10px 0 rgba(5, 5, 5, 0.514);
}

form input:hover {
  box-shadow: 0 0 10px 0 rgba(5, 5, 5, 0.514);
}

form input:focus:hover {
  animation-iteration-count: 0;
}

.bottomText {
  position: absolute;
  bottom: 10px;
  letter-spacing: 1px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
